<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="forma">
      <h2 data-cy="formaDetailsHeading"><span>Forma</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Código</span></dt>
        <dd>
          <span>{{ forma.id }}</span>
        </dd>
        <dt><span>Agrupamento</span></dt>
        <dd>
          <div *ngIf="forma.agrupamento">
            <a [routerLink]="['/forma', forma.agrupamento.id, 'view']">{{ forma.agrupamento.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Voltar</span>
      </button>

      <button type="button" [routerLink]="['/forma', forma.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editar</span>
      </button>
    </div>
  </div>
</div>
