<h1>Estoque de Formas e Polígonos</h1>
<div class="principal" *ngIf="estoque">
  <div class="lista" *ngIf="estoque.poligonos && estoque.poligonos.length > 0">
    <h3>Polígonos Disponíveis</h3>
    <table class="tabela">
      <tr>
        <td>nº Lados</td>
        <td>Tamanho</td>
        <td>Em estoque</td>
        <td>Selecionar</td>
      </tr>
      <tr class="item" *ngFor="let poligono of estoque?.poligonos; let i = index">
        <td>{{ poligono.lados }}</td>
        <td>{{ poligono.tamanho }}</td>
        <td>{{ poligono.ocorrencias }}</td>
        <td>
          <input
            class="quantidade"
            placeholder="0"
            #p
            (change)="selecionaPoligono(i, p.value)"
            type="number"
            min="0"
            max="{{ poligono.ocorrencias }}"
          />
        </td>
      </tr>
    </table>
  </div>
  <div class="lista" *ngIf="estoque.formas && estoque.formas.length > 0">
    <h3>Formas Disponíveis</h3>
    <table class="tabela">
      <tr>
        <td>Id</td>
        <td>Poligonos</td>
        <td>Formas</td>
        <td>Selecionar</td>
      </tr>
      <tr *ngFor="let forma of estoque.formas; let i = index">
        <td>{{ forma.id }}</td>
        <td *ngIf="forma.poligonos && forma.poligonos.length > 0; else elseBlock">
          <select class="selecionar" id="poligonoNaForma" name="poligonoNaForma" #p>
            <option *ngFor="let poligono of forma.poligonos">{{ getResumoPoligono(poligono) }}</option>
          </select>
        </td>
        <ng-template #elseBlock><td>Nenhum</td></ng-template>
        <td *ngIf="forma.formas && forma.formas.length > 0; else elseBlock2">
          <select id="formasNaForma" name="formasNaForma" #a>
            <option *ngFor="let f of forma.formas">{{ getResumoForma(forma) }}</option>
          </select>
        </td>
        <ng-template #elseBlock2><td>Nenhum</td></ng-template>
        <td><input class="selecionar" type="checkbox" (change)="selecionaForma(i)" /></td>
      </tr>
    </table>
  </div>
  <div class="botoes">
    <button type="button" class="btn btn-primary" (click)="enviarObjetos()">Gerar Forma Com Selecionados</button>
    <button type="button" class="btn btn-secondary">Listar Todos Os Poligonos</button>
    <button type="button" class="btn btn-secondary">Listar Todas As Formas</button>
    <button type="button" class="btn btn-secondary">Voltar</button>
  </div>
</div>
