<!--<div class="principal">
    <div class = "lista" *ngIf="estoque?.poligonos && estoque?.poligonos.length > 0">
      <h2>Estoque de Polígonos</h2>
      <table>
        <tr>
          <td>nº Lados</td>
          <td>Tamanho</td>
          <td>Em estoque</td>
          <td>Selecionar</td>
        </tr>
        <tr class = "item" *ngFor="let poligono of estoque?.poligonos; let i = index">
          <td>{{ poligono.lados }}</td>
          <td>{{ poligono.tamanho }}</td>
          <td>{{ poligono.ocorrencias }}</td>
          <td><input class = "selecionar" type = "checkbox" name = "poligono+{{i}}" value="{{i}}"></td>
        </tr>
      </table>
    </div>
    <div class = "lista">
      <h2>Estoque de Formas</h2>
      <table>
        <tr>
          <td>Id</td>
          <td>Poligonos</td>
          <td>Formas</td>
          <td>Selecionar</td>
        </tr>        
        <tr *ngFor="let forma of estoque?.formas; let i = index">
          <td>{{ forma.id }}</td>
          <td *ngIf="forma.poligonos && forma.poligonos.length > 0; else elseBlock">
            <select id="poligono" name="poligono" #p>
              <option *ngFor="let poligono of forma.poligonos">{{ getResumoPoligono(poligono) }}</option>
            </select>
          </td>
          <ng-template #elseBlock><td>Nenhum</td></ng-template>
          <td *ngIf="forma.resumoFormas.length > 0; else elseBlock2">
            <select id="agrupamento" name="agrupamento" #a>
              <option *ngFor="let resumo of forma.resumoFormas">{{resumo}}</option>
            </select>
          </td>
          <ng-template #elseBlock2><td>Nenhum</td></ng-template>
          <td><input class = "selecionar" type = "checkbox" name = "forma+{{i}}" value="{{i}}"></td>
        </tr> 
      </table>
    </div>
    <div class = "botoes">
      <button type="button" (click)=" add()">Criar Forma</button>
      <app-botao-voltar-grande></app-botao-voltar-grande>
    </div>
  </div>-->
