<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-forma-heading" data-cy="FormaCreateUpdateHeading">Criar ou editar Forma</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_agrupamento">Agrupamento</label>
          <select
            class="form-control"
            id="field_agrupamento"
            data-cy="agrupamento"
            name="agrupamento"
            formControlName="agrupamento"
            [compareWith]="compareForma"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="formaOption" *ngFor="let formaOption of formasSharedCollection">{{ formaOption.id }}</option>
          </select>
        </div>
      </div>

      <div class="principal" *ngIf="editForm.controls.id.value !== null && estoque">
        <div class="lista" *ngIf="estoque.poligonos && estoque.poligonos.length > 0">
          <h2>Estoque de Polígonos</h2>
          <table class="tabela">
            <tr>
              <td>nº Lados</td>
              <td>Tamanho</td>
              <td>Em estoque</td>
              <td>Selecionar</td>
            </tr>
            <tr class="item" *ngFor="let poligono of estoque?.poligonos; let i = index">
              <td>{{ poligono.lados }}</td>
              <td>{{ poligono.tamanho }}</td>
              <td>{{ poligono.ocorrencias }}</td>
              <td>
                <input
                  class="quantidade"
                  placeholder="0"
                  #p
                  (change)="selecionaPoligono(i, p.value)"
                  type="number"
                  min="0"
                  max="{{ poligono.ocorrencias }}"
                />
              </td>
            </tr>
          </table>
        </div>
        <div class="lista" *ngIf="estoque.formas && estoque.formas.length > 0">
          <h2>Estoque de Formas</h2>
          <table class="tabela">
            <tr>
              <td>Id</td>
              <td>Poligonos</td>
              <td>Formas</td>
              <td>Selecionar</td>
            </tr>
            <tr *ngFor="let forma of estoque.formas; let i = index">
              <td>{{ forma.id }}</td>
              <td *ngIf="forma.poligonos && forma.poligonos.length > 0; else elseBlock">
                <select class="selecionar" id="poligonoNaForma" name="poligonoNaForma" #p>
                  <option *ngFor="let poligono of forma.poligonos">{{ getResumoPoligono(poligono) }}</option>
                </select>
              </td>
              <ng-template #elseBlock><td>Nenhum</td></ng-template>
              <td *ngIf="forma.formas && forma.formas.length > 0; else elseBlock2">
                <select id="formasNaForma" name="formasNaForma" #a>
                  <option *ngFor="let f of forma.formas">{{ getResumoForma(forma) }}</option>
                </select>
              </td>
              <ng-template #elseBlock2><td>Nenhum</td></ng-template>
              <td><input class="selecionar" type="checkbox" (change)="selecionaForma(i)" /></td>
            </tr>
          </table>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
