<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-poligono-heading" data-cy="PoligonoCreateUpdateHeading">Criar ou editar Poligono</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_lados">Lados</label>
          <select class="form-control" id="field_lados" data-cy="lados" name="lados" formControlName="lados">
            <option [ngValue]="null"></option>
            <option [ngValue]="formaOption" *ngFor="let formaOption of [3, 4, 5, 6, 7]">{{ formaOption }}</option>
          </select>

          <div *ngIf="editForm.get('lados')!.invalid && (editForm.get('lados')!.dirty || editForm.get('lados')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('lados')?.errors?.required"> O campo é obrigatório. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('lados')?.errors?.number"> Este campo é do tipo numérico. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_tamanho">Tamanho</label>
          <input type="number" class="form-control" name="tamanho" id="field_tamanho" data-cy="tamanho" formControlName="tamanho" />
          <div *ngIf="editForm.get('tamanho')!.invalid && (editForm.get('tamanho')!.dirty || editForm.get('tamanho')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('tamanho')?.errors?.required"> O campo é obrigatório. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('tamanho')?.errors?.number">
              Este campo é do tipo numérico.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
