<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-poligono-heading" data-cy="PoligonoCreateUpdateHeading">Criar ou editar Poligono</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_lados">Lados</label>
          <input type="number" class="form-control" name="lados" id="field_lados" data-cy="lados" formControlName="lados" />
          <div *ngIf="editForm.get('lados')!.invalid && (editForm.get('lados')!.dirty || editForm.get('lados')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('lados')?.errors?.required"> O campo é obrigatório. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('lados')?.errors?.number"> Este campo é do tipo numérico. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_tamanho">Tamanho</label>
          <input type="number" class="form-control" name="tamanho" id="field_tamanho" data-cy="tamanho" formControlName="tamanho" />
          <div *ngIf="editForm.get('tamanho')!.invalid && (editForm.get('tamanho')!.dirty || editForm.get('tamanho')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('tamanho')?.errors?.required"> O campo é obrigatório. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('tamanho')?.errors?.number">
              Este campo é do tipo numérico.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_dataCriacao">Data Criacao</label>
          <div class="d-flex">
            <input
              id="field_dataCriacao"
              data-cy="dataCriacao"
              type="datetime-local"
              class="form-control"
              name="dataCriacao"
              formControlName="dataCriacao"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('dataCriacao')!.invalid && (editForm.get('dataCriacao')!.dirty || editForm.get('dataCriacao')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('dataCriacao')?.errors?.required"> O campo é obrigatório. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('dataCriacao')?.errors?.datetimelocal">
              Este campo é do tipo data/hora.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_ultimaModificacao">Ultima Modificacao</label>
          <div class="d-flex">
            <input
              id="field_ultimaModificacao"
              data-cy="ultimaModificacao"
              type="datetime-local"
              class="form-control"
              name="ultimaModificacao"
              formControlName="ultimaModificacao"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div
            *ngIf="
              editForm.get('ultimaModificacao')!.invalid &&
              (editForm.get('ultimaModificacao')!.dirty || editForm.get('ultimaModificacao')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('ultimaModificacao')?.errors?.required">
              O campo é obrigatório.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('ultimaModificacao')?.errors?.datetimelocal">
              Este campo é do tipo data/hora.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_forma">Forma</label>
          <select class="form-control" id="field_forma" data-cy="forma" name="forma" formControlName="forma" [compareWith]="compareForma">
            <option [ngValue]="null"></option>
            <option [ngValue]="formaOption" *ngFor="let formaOption of formasSharedCollection">{{ formaOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
